## Laboratorio 04 - SQL parte 3

### Davis Alvarez  - 15842

#### Bienvenida

Bienvenido a su tercer laboratorio de Bases de datos.

El objetivo de este laboratorio es que usted profundice y practique sobre los conceptos de queries anidados (_subqueries_) y la aplicación del concepto de agregación y de las funciones de agregación. Usted deberá conocer la sintaxis de un `SELECT` introduciendo los conceptos de agregación (`GROUP BY`) y filtros sobre datos agregados (`HAVING`).

Para este laboratorio utilizaremos la base de datos **flights-lab3.db** utilizada durante el laboratorio 3.

Recuerde que puede encontrar más información acerca de los campos en: https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236

In [2]:
%load_ext sql

In [3]:
sql sqlite:///flights-lab3.db

'Connected: @flights-lab3.db'

### Ejercicio 1: Consultas SQL (100 puntos)

Prepare un query que responda a cada una de las siguientes preguntas:

In [5]:
%sql PRAGMA table_info(ontime);

 * sqlite:///flights-lab3.db
Done.

[(0, 'Year', 'int', 0, None, 0),
 (1, 'Month', 'int', 0, None, 0),
 (2, 'DayofMonth', 'int', 0, None, 0),
 (3, 'DayOfWeek', 'int', 0, None, 0),
 (4, 'DepTime', 'int', 0, None, 0),
 (5, 'CRSDepTime', 'int', 0, None, 0),
 (6, 'ArrTime', 'int', 0, None, 0),
 (7, 'CRSArrTime', 'int', 0, None, 0),
 (8, 'UniqueCarrier', 'varchar(5)', 0, None, 0),
 (9, 'FlightNum', 'int', 0, None, 0),
 (10, 'TailNum', 'varchar(8)', 0, None, 0),
 (11, 'ActualElapsedTime', 'int', 0, None, 0),
 (12, 'CRSElapsedTime', 'int', 0, None, 0),
 (13, 'AirTime', 'int', 0, None, 0),
 (14, 'ArrDelay', 'int', 0, None, 0),
 (15, 'DepDelay', 'int', 0, None, 0),
 (16, 'Origin', 'varchar(3)', 0, None, 0),
 (17, 'Dest', 'varchar(3)', 0, None, 0),
 (18, 'Distance', 'int', 0, None, 0),
 (19, 'TaxiIn', 'int', 0, None, 0),
 (20, 'TaxiOut', 'int', 0, None, 0),
 (21, 'Cancelled', 'int', 0, None, 0),
 (22, 'CancellationCode', 'varchar(1)', 0, None, 0),
 (23, 'Diverted', 'varchar(1)', 0, None, 0),
 (24, 'CarrierDelay', 'int', 0, None, 0),
 (25, 'WeatherDelay', 'int', 0, None, 0),
 (26, 'NASDelay', 'int', 0, None, 0),
 (27, 'SecurityDelay', 'int', 0, None, 0),
 (28, 'LateAircraftDelay', 'int', 0, None, 0)]

In [6]:
%sql PRAGMA table_info(airports);

 * sqlite:///flights-lab3.db
Done.

[(0, 'iata', 'varchar(4)', 0, None, 0),
 (1, 'airport', 'varchar(100)', 0, None, 0),
 (2, 'city', 'varchar(100)', 0, None, 0),
 (3, 'state', 'varchar(4)', 0, None, 0),
 (4, 'country', 'varchar(4)', 0, None, 0),
 (5, 'lat', 'double', 0, None, 0),
 (6, 'long', 'double', 0, None, 0)]

#### Pregunta 1: ¿Qué aerolineas vuelan de California a Nueva York?

Su respuesta debe mostrar el nombre de la aerolinea.

De su respuesta utilizando subqueries.

 * sqlite:///flights-lab3.db
Done.

[('B6',), ('UA',), ('DL',), ('AA',)]

_Hint:_ Deben ser cuatro aerolineas

#### Pregunta 2: ¿Qué aerolineas vuelan de California a Nueva York y también de California a Nuevo México?

Su respuesta debe mostrar el nombre de las aerolineas

De su respuesta en términos de subqueries.

In [33]:
%%sql SELECT DISTINCT UniqueCarrier
        FROM (SELECT DISTINCT UniqueCarrier, O.origin, O.dest, A.state
            FROM ontime O left join airports A on A.iata = O.origin
            WHERE A.state='CA') AS cali
            left join airports llegada on llegada.iata = cali.dest
            WHERE llegada.state='NM' OR llegada.state='NY'

 * sqlite:///flights-lab3.db
Done.

[('B6',), ('WN',), ('OO',), ('UA',), ('DL',), ('AA',), ('XE',)]

#### Pregunta 3. ¡Quiero maximizar mi millas! (15 puntos)

Suponga que en un futuro no muy lejano le gustaría visitar tanto Portland (PDX) como Eugene (EUG), saliendo desde SFO. Con el objetivo de maximizar mis millas de viajero frecuente, me gustaría utilizar la misma aerolínea para ambos vuelos.

Escriba un query que muestre los nombres de las aerolíneas que realizaron tanto vuelos SFO -> PDX como vuelos SFO -> EUG.
Asegúrese de mostrar el nombre de las aerolíneas sin duplicados.

In [10]:
%%sql SELECT DISTINCT UniqueCarrier, sfo.origin, sfo.dest
        FROM (SELECT O.UniqueCarrier, O.origin, O.dest, A.state
            FROM ontime O left join airports A on A.iata = O.origin
            WHERE A.iata='SFO' AND A.state='CA') AS sfo
            left join airports llegada on llegada.iata = sfo.dest
            WHERE sfo.dest='EUG' OR sfo.dest='PDX' AND sfo.state='CA'

 * sqlite:///flights-lab3.db
Done.

[('OO', 'SFO', 'EUG'),
 ('UA', 'SFO', 'PDX'),
 ('AS', 'SFO', 'PDX'),
 ('UA', 'SFO', 'EUG'),
 ('OO', 'SFO', 'PDX')]

_Respuesta:_
```
SkyWest Airlines Inc.
United Air Lines Inc.
```

In [46]:
%%sql SELECT DISTINCT UniqueCarrier, O.origin, O.dest, A.state
            FROM ontime O left join airports A on A.iata = O.origin
            WHERE A.iata='SFO'

 * sqlite:///flights-lab3.db
Done.

[('WN', 'SFO', 'LAS', 'CA'),
 ('WN', 'SFO', 'LAX', 'CA'),
 ('WN', 'SFO', 'MDW', 'CA'),
 ('WN', 'SFO', 'SAN', 'CA'),
 ('XE', 'SFO', 'LAX', 'CA'),
 ('OO', 'SFO', 'SLC', 'CA'),
 ('OO', 'SFO', 'SMF', 'CA'),
 ('OO', 'SFO', 'MFR', 'CA'),
 ('OO', 'SFO', 'SBP', 'CA'),
 ('OO', 'SFO', 'FAT', 'CA'),
 ('OO', 'SFO', 'MRY', 'CA'),
 ('OO', 'SFO', 'ACV', 'CA'),
 ('OO', 'SFO', 'BFL', 'CA'),
 ('OO', 'SFO', 'RDD', 'CA'),
 ('OO', 'SFO', 'SBA', 'CA'),
 ('OO', 'SFO', 'MOD', 'CA'),
 ('OO', 'SFO', 'RDM', 'CA'),
 ('OO', 'SFO', 'CEC', 'CA'),
 ('OO', 'SFO', 'CIC', 'CA'),
 ('OO', 'SFO', 'BUR', 'CA'),
 ('OO', 'SFO', 'PSP', 'CA'),
 ('OO', 'SFO', 'RNO', 'CA'),
 ('OO', 'SFO', 'ONT', 'CA'),
 ('OO', 'SFO', 'EUG', 'CA'),
 ('OO', 'SFO', 'SNA', 'CA'),
 ('OO', 'SFO', 'TUS', 'CA'),
 ('OO', 'SFO', 'COS', 'CA'),
 ('OO', 'SFO', 'BOI', 'CA'),
 ('OO', 'SFO', 'PMD', 'CA'),
 ('OO', 'SFO', 'ABQ', 'CA'),
 ('OO', 'SFO', 'SMX', 'CA'),
 ('OO', 'SFO', 'LAX', 'CA'),
 ('OO', 'SFO', 'ASE', 'CA'),
 ('OO', 'SFO', 'TWF', 'CA'),
 ('OO', 'SFO', 'BZN', 'CA'),
 ('OO', 'SFO', 'DEN', 'CA'),
 ('OO', 'SFO', 'IDA', 'CA'),
 ('UA', 'SFO', 'JFK', 'CA'),
 ('UA', 'SFO', 'SAN', 'CA'),
 ('UA', 'SFO', 'OGG', 'CA'),
 ('UA', 'SFO', 'LIH', 'CA'),
 ('UA', 'SFO', 'EWR', 'CA'),
 ('UA', 'SFO', 'ORD', 'CA'),
 ('UA', 'SFO', 'KOA', 'CA'),
 ('UA', 'SFO', 'SEA', 'CA'),
 ('UA', 'SFO', 'SNA', 'CA'),
 ('UA', 'SFO', 'HNL', 'CA'),
 ('UA', 'SFO', 'IAD', 'CA'),
 ('UA', 'SFO', 'LAX', 'CA'),
 ('UA', 'SFO', 'BOS', 'CA'),
 ('UA', 'SFO', 'PHL', 'CA'),
 ('UA', 'SFO', 'SAT', 'CA'),
 ('UA', 'SFO', 'ATL', 'CA'),
 ('UA', 'SFO', 'MCO', 'CA'),
 ('UA', 'SFO', 'BWI', 'CA'),
 ('UA', 'SFO', 'BUR', 'CA'),
 ('UA', 'SFO', 'DEN', 'CA'),
 ('UA', 'SFO', 'PDX', 'CA'),
 ('UA', 'SFO', 'AUS', 'CA'),
 ('UA', 'SFO', 'IAH', 'CA'),
 ('UA', 'SFO', 'DFW', 'CA'),
 ('UA', 'SFO', 'SLC', 'CA'),
 ('UA', 'SFO', 'PHX', 'CA'),
 ('UA', 'SFO', 'RNO', 'CA'),
 ('UA', 'SFO', 'LAS', 'CA'),
 ('US', 'SFO', 'CLT', 'CA'),
 ('US', 'SFO', 'LAS', 'CA'),
 ('US', 'SFO', 'PHL', 'CA'),
 ('US', 'SFO', 'PHX', 'CA'),
 ('US', 'SFO', 'PIT', 'CA'),
 ('DL', 'SFO', 'SLC', 'CA'),
 ('DL', 'SFO', 'ATL', 'CA'),
 ('DL', 'SFO', 'CVG', 'CA'),
 ('DL', 'SFO', 'JFK', 'CA'),
 ('F9', 'SFO', 'DEN', 'CA'),
 ('FL', 'SFO', 'ATL', 'CA'),
 ('HA', 'SFO', 'HNL', 'CA'),
 ('MQ', 'SFO', 'SNA', 'CA'),
 ('NW', 'SFO', 'HNL', 'CA'),
 ('NW', 'SFO', 'MSP', 'CA'),
 ('NW', 'SFO', 'DTW', 'CA'),
 ('AA', 'SFO', 'JFK', 'CA'),
 ('AA', 'SFO', 'HNL', 'CA'),
 ('AA', 'SFO', 'BOS', 'CA'),
 ('AA', 'SFO', 'MIA', 'CA'),
 ('AA', 'SFO', 'DFW', 'CA'),
 ('AA', 'SFO', 'ORD', 'CA'),
 ('AA', 'SFO', 'LAX', 'CA'),
 ('AA', 'SFO', 'STL', 'CA'),
 ('AS', 'SFO', 'SEA', 'CA'),
 ('AS', 'SFO', 'PSP', 'CA'),
 ('AS', 'SFO', 'LAX', 'CA'),
 ('AS', 'SFO', 'PDX', 'CA'),
 ('B6', 'SFO', 'BOS', 'CA'),
 ('B6', 'SFO', 'JFK', 'CA'),
 ('B6', 'SFO', 'SLC', 'CA'),
 ('CO', 'SFO', 'IAH', 'CA'),
 ('CO', 'SFO', 'EWR', 'CA'),
 ('CO', 'SFO', 'CLE', 'CA'),
 ('OO', 'SFO', 'GJT', 'CA'),
 ('WN', 'SFO', 'PHX', 'CA'),
 ('UA', 'SFO', 'EUG', 'CA'),
 ('NW', 'SFO', 'MEM', 'CA'),
 ('UA', 'SFO', 'ANC', 'CA'),
 ('FL', 'SFO', 'MKE', 'CA'),
 ('FL', 'SFO', 'IND', 'CA'),
 ('NW', 'SFO', 'IND', 'CA'),
 ('B6', 'SFO', 'AUS', 'CA'),
 ('OO', 'SFO', 'MSO', 'CA'),
 ('OO', 'SFO', 'FCA', 'CA'),
 ('AS', 'SFO', 'ANC', 'CA'),
 ('OO', 'SFO', 'LMT', 'CA'),
 ('OO', 'SFO', 'OTH', 'CA'),
 ('WN', 'SFO', 'DEN', 'CA'),
 ('UA', 'SFO', 'ABQ', 'CA'),
 ('FL', 'SFO', 'PHL', 'CA'),
 ('B6', 'SFO', 'LGB', 'CA'),
 ('OO', 'SFO', 'PDX', 'CA'),
 ('OO', 'SFO', 'SAT', 'CA'),
 ('OO', 'SFO', 'SJC', 'CA')]

In [55]:
%sql SELECT * FROM airlines where airlineCode='OO' or airlineCode='UA' or airlineCode='SA'

 * sqlite:///flights-lab3.db
Done.

[('OO', 'SkyWest Airlines Inc.'),
 ('SA', 'South African Airways'),
 ('UA', 'United Air Lines Inc.')]

In [6]:
%sql select * from airports where iata='PDX'

 * sqlite:///flights-lab3.db
Done.

[('PDX', 'Portland Intl', 'Portland', 'OR', 'USA', 45.58872222, -122.5975)]

#### Pregunta 4: ¿Existen aerolineas que hagan únicamente vuelos internos?

Un vuelo interno es aquel cuyo aeropuerto origen y aeropuerto destino se encuentran en el mismo estado.

De su respuesta en términos de `EXCEPT`.

_Respuesta:_ En la base de datos no hay ninguna aerolinea que haga únicamente vuelos internos.

#### Pregunta 5: ¿Qué proporción de aerolineas se retrasan en llegar un promedio 10 minutos o más con respecto al total de aerolíneas que han operado vuelos? (20 puntos)

En el laboratorio 3 usted desarrolló un query para mostrar qué aerolineas se retrasan en llegar un promedio 10 minutos o más.

Escriba ahora un query que retorne la proporción de las aerolíneas que se retrasan en promedio 10 minutos o más, con respecto a la cantidad de aerolíneas que operaron vuelos.

Recuerde no quemar (_hardcode_) la cantidad de aerolíneas disponibles, sino obtener la cantidad a partir de un query.

**Nota**: la función `COUNT(*)` en SQLite retorna valores de tipo integer, por lo que deberá investigar e incluir en su query una conversión (_casteing_) de valores utilizando la función `CAST`: `SELECT CAST (COUNT(*) AS float)` o bien un cast implícito derivado de una operación: `COUNT(*) * 1.0`.

_Respuesta: La proporción de aerolineas que se retrasan más de 10 minutos en promedio representa el 40% de las aerolineas que operan vuelos_

#### Pregunta 6: ¿Cómo se relacionan los retrasos en el tiempo de salida (departure) con los retrasos en el tiempo de llegada (arrival)? (30 puntos)

Si un vuelo se retrasa al salir, nos interesa estudiar qué tanto afecta esto al tiempo de llegada.

Una forma de estudiar la variación conjunta de dos variables es utilizar la _covarianza muestral_.

(Sí, por favor refrésquelo: https://www.google.com/search?q=covarianza+muestral)

Mientras más alto sea el valor de la covarianza muestral entre dos variables, mayor será la tendencia de estas a comportarse de la misma forma. Por el contrario, una covarianza negativa indica que las variables tienden a estar inversamente relacionadas.

Una forma de computar la covarianza es como sigue:

\begin{equation}
    Cov (X, Y) = \dfrac{1}{n-1}\sum_{i=1}^{n}(x_i - \overline{x})(y_i - \overline{y})
\end{equation}

En donde $x_i$ denota la $i$ muestra de la variable $X$, $y_i$ la muestra $i$ de la variable $Y$; mientras que  las medias de $X$ y $Y$ son denotadas por $\overline{x}$ y $\overline{y}$ respectivamente.

El objetivo de este ejercicio es construir un query que compute la covarianza entre el retraso en el tiempo de salida (`ontime.DepDelay`) y el retraso en el tiempo de llegada (`ontime.ArrDelay`). Para eso trabaje los siguientes incisos:

Nota: recuerde que puede utilizar `%%sql` en Jupyter Notebook para escribir queries utilizando múltiples líneas.

##### 6.a

Escriba un query para computar el término $1/(n-1)$ de la tabla de vuelos, en donde $n$ representa la cantidad de vuelos disponibles:

_Respuesta:_ Su query debería retornar el valor `1.42658908114e-07`

##### 6.b

Escriba un query para que devuelva la siguiente el producto $(x_i - \overline{x})(y_i - \overline{y})$ para los primeros 10 registros de la tabla de vuelos:

#### 6.c

Escriba un query que utilice la consulta anterior compute la suma de los $n$ registros de la tabla de vuelos, es decir el término

\begin{equation}
    \sum_{i=1}^{n}(x_i - \overline{x})(y_i - \overline{y})
\end{equation}

##### 6.d

Escriba un query que utilizando las consultas de los incisos (a) y (c) para computar la covarianza.

_Respuesta: La covarianza entre el tiempo de salida y el tiempo de llegada en los vuelos del dataset es de 1,235.72_